[Unit]
Description=z2m-node-control
BindsTo=mosquitto.service
After=network.target mosquitto.service

[Service]
ExecStart=/home/alarm/devel/z2m-node/control/z2m-node-control
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
